@font-face {
    font-family: 'PP Telegraf';
    src: url('fonts/PPTelegraf/PPTelegraf-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

body::before,
body::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 30%;
}

body::before {
    background: #ffffff;
    filter: url(#grainy);
}

#header {
    width: 100vw; z-index: 10; height: 75px; left: 0px; top: 0px; position: fixed; justify-content: space-between; align-items: center; display: flex;
}

#logo {
    padding-left: 80px; justify-content: space-between; align-items: center; display: flex; gap: 5px;
}

#navbar {
    padding-right: 80px; align-self: stretch; justify-content: space-between; align-items: center; display: flex; gap: 60px;
}

.hero-gradient-color {
    width: 50vw; height: 80vh; right: 0px; top: 0px; position: absolute;
}

.std-text {
    text-align: center; color: #101110; font-size: 13px; font-family: "PP Telegraf"; font-weight: 400;  line-height: 20px; letter-spacing: 0.30px; word-wrap: break-word;
}

.tagline-text {
    color: #101110; font-size: calc(min(8vw, 110px)); font-family: "PP Telegraf"; font-weight: 400; word-wrap: break-word;
}
@media (width < 1288px) {
    #logo {
        padding-left: 40px;
    }
    #navbar {
        padding-right: 40px;
    }
}
@media (width < 1024px) {
    #logo {
        padding-left: 20px;
    }
    #navbar {
        padding-right: 20px;
    }
}
@media (width < 700px) {
    .tagline-text {
        font-size: 10vw;
    }
    #navbar {
        gap: 30px;
    }
}

#contact {
    align-self: center; justify-content: flex-start; align-items: center; gap: 14px; display: flex;
    cursor: pointer;
}
@media (width < 700px) {
    #contact {
        gap: 8px;
    }
}

#contact-icon {
    max-width: 10px;
    transition: max-width 150ms ease;
}

#contact:hover #contact-icon {
    max-width: 8.5px;
}

#about {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 200ms ease;
}

#about-arrow {
    max-width: 80px;
    transition: max-width 200ms ease;
}

#about:hover {
    padding-left: 28px;
    padding-right: 12px;
}

#about:hover #about-arrow {
    max-width: 60px;
}

#discuss-project-container {
    width: 186px; height: 124px; position: relative; cursor: pointer;
}

.std-ellipse {
    width: 92%; height: 52%; position: absolute; border-radius: 50%; border: 1px #101110 solid;
}

#std-ellipse-1 {
    transform: rotate(-20deg); transform-origin: 50%;
    transition: transform 500ms ease;
}

#std-ellipse-2 {
    transition: transform 500ms ease;
}

#discuss-project-container:hover #std-ellipse-1 {
    transform: rotate(10deg); transform-origin: 50%;
}

#discuss-project-container:hover #std-ellipse-2 {
    transform: rotate(-10deg); transform-origin: 50%;
}

#main {
    width: 100vw; background: #F1F1EA; flex-direction: column; justify-content: flex-start; align-items: center; display: flex;
}

#hero {
    align-self: stretch; min-height: calc(100vh - 125px); z-index: 5; padding-top: 95px; padding-bottom: 30px; padding-left: 10vw; padding-right: 10vw; flex-direction: column; justify-content: space-around; align-items: center; display: flex;
}
@media (width < 1288px) {
    #hero {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (width < 1024px) {
    #hero {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.hero-section {
    z-index: 5;
}

#hero-banner {
    width: 100%; justify-content: flex-start; align-items: center; display: flex;
}

#hero-mid {
    align-self: stretch; justify-content: space-between; align-items: center; display: flex;
}

#hero-bottom {
    align-self: stretch; justify-content: space-between; align-items: center; display: flex;
}
@media (width < 860px) {
    #hero-bottom {
        flex-direction: column;
        gap: 40px;
    }
}